<head>
<meta charset="utf-8">
<title>Koszyki</title>
<style type="text/css">body{margin:40px
auto;max-width:640px;line-height:1.7;font-size:18px;color:#444;padding:0
10px}h1{line-height:1.4}</style>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<h1>
    kszk.eu
</h1>
<div>
    Welcome.
</div>
</body>
