<head>
<meta charset="utf-8">
<title>Koszyki</title>
<style type="text/css">body{margin:40px
auto;max-width:640px;line-height:1.7;font-size:18px;color:#444;padding:0
10px}h1{line-height:1.4}input{margin-bottom: 10px;}</style>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script language='javascript' type='text/javascript'>
    function validate(input) {
        if (input.value != document.getElementById('password').value) {
            input.setCustomValidity('Passwords do not match.');
        } else {
            input.setCustomValidity('');
        }
    }
</script>
</head>
<body>
<h1>
    kszk.eu
</h1>
<p>Welcome.</p>
<div>
 <form action="/" method="post">
     <p>To register as {%username%} please provide a password:</p>
     <input type="hidden" value="{%token%}" name="token" />
<input placeholder="Password" name="password" required="required" type="password" id="password" />
</br>
<input placeholder="Repeat password" name="password_confirm" required="required" type="password" id="password_confirm" oninput="validate(this)" />
</br></br>
<input type="submit" value="Proceed"/>
</form> 
<h3>Security considerations</h3>
<p>The password will be hashed and salted with 656000 rounds of SHA512 upon reaching the
server. For implementation details please consult <a href="https://gitlab.com/koszyki/kszk-users-app">the
implementation</a>.</p>
</div>
</body>
